.Search--bar-component {
	width: 100%;
	height: 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search--box {
	width: 76rem;
	height: 8rem;
	padding: 0 4rem;
	border: 5px solid #e1dddd;
	border-radius: 4rem;

	font-size: 3.2rem;
	line-height: 48px;
	color: orange;
}

.search--box:hover,
.search--box:active {
	border: none;
}
