*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
}

.Heading--box {
	text-align: center;
	background-color: #f0f0f0;
	padding: 3rem 1.8rem 3rem 1.8rem;
}

.Heading {
	font-size: 6.4rem;
	line-height: 9.6rem;
	letter-spacing: 4px;
	color: #ffa500;
}

.Total--countries {
	font-size: 2.4rem;
	line-height: 3rem;
	letter-spacing: 1.25px;
	color: #555555;
}

.total--results {
	margin-top: 1rem;
	font-size: 2rem;
	line-height: 3.6rem;
	letter-spacing: 1.25px;
	color: #ffa500;
}
